.content {
    display: flex;
    border: 5px solid black;
}

.header {
    background-color: blue;
    border: 5px solid black;
    text-align: center;
}

.menu, .ad {
    background-color: pink;
    width: 30%;
    border: 5px solid black;
}

.ad {
    order: 2;
}

.main {
    background-color: orange;
    order: 1;
    border: 5px solid black;
}

.footer {
    background-color: blue;
    border: 5px solid black;
    text-align: center;
}

.layout {
    border: 5px solid black;
}

.main.h1 {
    text-align: center;
}